@use "media" as *;

body {
  --width-page: clamp(350px, 100vw, 1440px);

  --color-gray: #42567A;
  --color-blue: #3877EE;
  --color-pink: #ed5ca7;
  --color-violet: #5c5eed;
  --color-bg: #f2f3f7;
  --color-line: rgba(66, 86, 122, 0.1);
  --color-line-mobile: #c7cdd9;
  --color-line-circle: rgba(66, 86, 122, 0.2);

  --font-weight-bold: 700;
  --font-weight-thin: 400;

  --font-size-14: 14px;
  --font-size-56-20: 56px;
  --font-size-25-16: 25px;
  --font-size-20-14: 20px;
  --font-size-200-56: 200px;
}

@media (max-width: $media-lg) {
  body {
    --font-size-56-20: 20px;
    --font-size-25-16: 16px;
    --font-size-20-14: 14px;
    --font-size-200-56: 56px;

    --color-line: var(--color-line-mobile);
  }
}
